html, body{
	height: 100%;
}
body{
	background: #fff;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	min-width: 320px;
}
a{
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-style: 17px;
	color: #2cc7c1;
}
a:hover{
	color: #2cc7c1;	
}
img{
	max-width: 100%;
	height: auto;
}
section{
	position: relative;
	
}
h2{
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	margin-bottom: 60px;
	text-transform: uppercase;
}

/*===================header=====================*/
#header{
	background: url(../img/header_bg.jpg) center no-repeat;
	background-size: cover;
	/*height: 100vh;*/
	height: 100%;
	min-height: 500px;
}
.section-table{
	display: table;
	height: 100%;
	width: 100%;
}
.section-row{
	display: table-row;
}
.section-cell{
	display: table-cell;
	text-align: right;
	padding: 20px;
}
.section-right{
	max-width: 350px;
	display: inline-block;
}

#header h1{
	position: absolute;
	bottom: 0;
	left: 100px;
	font-family: Myriad Pro Bold SemiCondensed, sans-serif;
	font-size: 31px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}
#header p{
	color: #fff;
	font-size: 24px;
	text-align: center;
	font-family: Kurale;
	text-transform: uppercase;
	line-height: 30px;
}

.mainform{
	background-color: rgba(191, 24, 54, 0.5);
	border-radius:6px; 
	margin-top: 100px;
}
.mainform .btn {
	margin: 25px auto;
	font-size: 24px;
	display: block;
	width: 100%;
}
.form-group .btn{
	margin: 0;
	font-size: 20px;
}

.sall{
	font-size: 36px;
	color: #0088fc;
}
.sal{
	font-size: 24px;
	color: #0088fc;
	text-transform: uppercase;
}
#header .confidicial {
	font-family:  Ubuntu, sans-serif;
	font-size: 12px;
	color: #333;
	margin-top: 4px;
}
.form-horizontal{
	margin-top: 20px;
}
.form-horizontal .form-group {
	margin-right: 2px;
	margin-left: 0;
}
.form-group .btn {
	width: 100%;
}
/*===================uslugi=====================*/
#nashi_uslugi{
	background: url(../img/nashiuslugi.jpg) center no-repeat; 
}
.uslugi h2 {
	color: #ee1e7d;
	margin-top: 30px;
	font-family: Kurale;
	font-size: 50px;
}
.uslugi h2{
	margin-bottom: 30px;
}
.item h3{
	color: #fff;
}
.img-circle{

}

/*===================poluchite=====================*/

#poluchite {
	background: url(../img/poluchite2.jpg) center no-repeat;
	
	
}
#poluchite h2{
	text-align: center;
	color: #005caa;
}
.nashi_priem h2{
	margin:30px 0 30px 0;
	color: #005caa;
	font-family: Kurale;
	font-size: 50px;
}
.nashi_priem2,
.nashi_priem3{
	margin-left: 120px;
}
.nashi_priem2 li,
.nashi_priem3 li{
	line-height: 90px;
	font-size: 30px;
	color: #ee1e7d;
	padding-top: 10px;
}
.nashi_priem2 li img,
.nashi_priem3 li img{
	padding-bottom: 10px;
}
.btn-primary {
	color: #005caa;
	background-color: #ee1e7d;
	border-color: #ee1e7d;
}
.btn-primary:hover {
	color: #ee1e7d;
	background-color: #005caa;
	border-color: #005caa;
}
.btn {
	margin: 50px 0 0 120px;
	font-size: 24px;
}
.section-btn p{
	font-size: 12px;
	color: #333;
	margin-left: 120px;
}
/*===================otziv=====================*/

#otziv{
	background-color: #82e0aa;
}
#otziv h2 {
	margin: 30px 0 30px 0;
	color: #005caa;
	font-family: Kurale;
	font-size: 50px;
}
.otziv1{
	margin-bottom: 30px;
	float: left;
	overflow: hidden;
}
.otziv2{
	margin-bottom: 30px;
	float: right;
	overflow: hidden;
}
.text-otziv {
	background-color: #fff;
	float: left;
	width: 600px;
	height: 140px;
	overflow: hidden;
	padding: 5px 5px 5px 10px;
	border-radius: 7px;
	color: #333;

}
.foto{
	float: left;
	overflow: hidden;
	margin-right: 20px;

}
.foto1{
	float: right;
	overflow: hidden;
	margin-left: 20px;
}
.knopka{
	float: right;
	width: 441px;
	overflow: hidden;
}
.section-btn{
	float: left;
	overflow: hidden;
}
.knopka .btn-primary {
	color: #ee1e7d;
	background-color: #005caa;
	border-color: #005caa;
}
.knopka .btn-primary:hover {
	color: #005caa;
	background-color: #ee1e7d;
	border-color: #ee1e7d;
}

/*===================nasnaiti=====================*/
#naiti h2 {
	margin: 30px 0 30px 0;
	color: #005caa;
	font-family: Kurale;
	font-size: 50px;
}
.regim h3{
	color: #005caa;
	text-align: center;
	line-height: 35px;
	margin-bottom: 25px;
}
.regim p{
	text-align: center;
	font-size: 25px;
	color: #f04e91;
	text-transform: uppercase;
}
.regimwork{
	font-size: 20px;
	line-height: 30px;
	color: #005caa;
}
.timework{
	float: right;
}

.vixodnoi{
	float: right;
	color: #ee1e7d;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#header p {
		font-size: 22px;
	}
	.nashi_priem2 li,
	.nashi_priem3 li{
		font-size: 24px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#poluchite .nashi_priem1 h2 {
    font-size: 24px;
}
#poluchite .nashi_priem h2 {
    font-size: 50px;
}
.nashi_priem2 li,
.nashi_priem3 li{
		font-size: 21px;
	}
	.nashi_priem2{
		margin-left: 0;
	}
	.section-btn p{
	margin-left: 0px;
}
.btn {
	margin: 50px 0 0 0;
	font-size: 24px;
}
.text-otziv{
	width: 570px;
}
.regim h3,
.regim p{
	font-size: 22px;
}
.regimwork{
		font-size: 16px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#header h1 {
		left: 70px;
	}
	#header p {
		font-size: 20px;
	}
	#nashi_uslugi .col-xs-6.uslugi2{ 
		float: right;
	}
}
	@media only screen and (max-width : 767px) {
	#poluchite .nashi_priem1 h2 {
    font-size: 24px;
}
#poluchite .nashi_priem h2 {
    font-size: 50px;
}
.nashi_priem2 li,
.nashi_priem3 li{
		font-size: 21px;
		line-height: 47px;
	}
	.nashi_priem2,
	.nashi_priem3{
		margin-left: 0;
	}
	.section-btn p{
	margin-left: 0px;
}
.btn {
	margin: 50px 0 0 0;
	font-size: 24px;
}
#poluchite .nashi_priem h2 {
    font-size: 50px;
    margin-bottom: 0;
}
#poluchite .nashi_priem1 h2 {
    font-size: 24px;
    margin-bottom: 0;
}
#poluchite{
	padding-bottom: 160px;
}
#poluchite .section-btn {
    position: absolute;
    bottom: -500px;
}
.foto,
.foto1{
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}

.text-otziv{
	width: 500px;
}
.otziv2{
	float: left;
}
.regim h3,
.regim p{
	font-size: 30px;
}
.regimwork{
		font-size: 26px;
margin: 5px 40px;
	}
}

@media only screen and (max-width : 670px) {
	.text-otziv{
	width: 430px;
}
}
@media only screen and (max-width : 600px) {
	#header h1 {
		left: 5px;
	}
	.uslugi h2 {
		margin-bottom: 20px;
	}
	.uslugi h2 {
		margin-top: 10px;
		font-size: 40px;
	}
	.img-circle {
		width: 71px;
	}
	.item h3 {
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	#nashi_uslugi .col-xs-6.uslugi2{
		float: right;
	}
	#poluchite .nashi_priem h2 {
    font-size: 40px;
}
.section-btn{
	float: right;
	margin-right: 15px;
}
#otziv h2{
	font-size: 40px;
}
#naiti h2{
	font-size: 40px;
}
}
@media only screen and (max-width : 530px) {
	.text-otziv{
	width: 330px;
	height: 71px;
	font-size: 14px;
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.mainform{
		margin-top: 60px;
	}
	.uslugi h2 {
		margin-bottom: 20px;
	}
	.uslugi h2 {
		margin-top: 10px;
		font-size: 40px;
	}
	.img-circle {
		width: 71px;
	}
	.item h3 {
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	#nashi_uslugi .col-xs-6.uslugi2{
		float: right;
	}
	.regimwork{
		
margin: 0;
	}
}
@media only screen and (max-width : 430px) {
	.text-otziv{
	width: 260px;
	height: 71px;
	font-size: 14px;
}
@media only screen and (max-width : 395px) {
	#nashi_uslugi .item.item1{
		margin-bottom: 37px;
	}
	#poluchite .nashi_priem h2 {
    font-size: 35px;
}
}
	@media only screen and (max-width : 393px) {
		#nashi_uslugi .item.item1{
			margin-top: 37px;
		}
	}
}