

#setForm {
    border: 1px solid black;
    border-radius: 15px;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    position: relative;
  }
  
  .inputF4 {
    width: 80%;
    height: 32px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background: white;
    color: black;
  }

  #setPass {
    display: block;
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  #setForm input {
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;
  }

#createPass {
    display: block;
    margin: 20px 0;
}

#red {
    color: red;
}

#setForm > button {
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    margin: 10px 0;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 0;
    padding: 6px 10px;
    transition-duration: 0.2s;
  }
  
  #setForm > button:hover {
    border: 1px solid black;
    border-radius: 10px;
    background: black;
    color: white;
    cursor: pointer;
  }

/* ================= МЕДИАЗАПРОСЫ ================= */

@media only all and (max-width: 500px) {
  
    #setForm {
      margin: 10px 7%;
    }
  
    #setForm > button {
        border: 1px solid black;
        border-radius: 10px;
        background: white;
        margin: 10px 0;
        font-size: 0.9em;
        font-weight: bolder;
        font-family: 'Comfortaa', cursive;
        letter-spacing: -1px;
        padding: 6px 10px;
        transition-duration: 0.2s;
      }

    }
  



































































