
#tagline {
  font-size: 36px;
  margin-top: 260px;
  letter-spacing: 3px;
  margin-left: 0;
}

#tagline h1:last-child {
  display: none;
}

#search {
  margin: 150px 13% 0 13%;
  position: relative;
}

#search span {
  position: absolute;
  right: 25px;
  bottom: -20px;

}

#content {
    text-align: center;
    margin: 10px auto 80px auto;
}

/* ===================== ПОЛЕ ПОИСКА ==================== */

#firstForm {
  position: relative;
}

input.form1 {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  background: white;
  color: black;
  font-size: 1.1em;
}
button.mainButton {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: 2px solid black;
  border-left: none;
  background: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button.mainButton:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 22px;
  color: black;
}


/* ================= МЕДИАЗАПРОСЫ ================= */

@media only all and (max-width: 850px) {
  
  #tagline h1:first-child {
    display: none;
  }

}

@media only all and (max-width: 500px) {

#search span {
  right: 15px;
  bottom: -20px;
  font-size: 12px;
}

}














