
#breadcrumbsWrapp {
    margin-left: 2%;
}

ul{
 margin: 0;
 padding: 0;
 list-style: none;
 }

 #breadcrumbs-one{
    overflow: hidden;
    width: 100%;
    }
    
   #breadcrumbs-one li{
    float: left;
    margin: 0 0.1em 0 0;
    
    }
    
   #breadcrumbs-one a{
    padding: .1em .1em;
    float: left;
    font-size: .7em;
    text-decoration: none;
    color: #444;
    position: relative;
    transition-duration: .2s;
    }
    
   #breadcrumbs-one a:hover{
    color: black;
    transform: scale(1.05);
    }
    
    #breadcrumbs-one a::after{
    content:'/';
    margin: 0 0 0 .3em;
    }
    
   
   #breadcrumbs-one .current,
    #breadcrumbs-one .current:hover{
    font-weight: bold;
    background: none;
    color: #444;
    transform: scale(1.00);
    cursor: default;
    }
    
   #breadcrumbs-one .current::after,
    #breadcrumbs-one .current::before{
    content: normal;
    }

#breadcrumbs-one li.dotdotdot {
    display: none;
    font-size: .7em;
    letter-spacing: 1px;
    color: #444;
}

.opened {
    background-color: transparent;
}

@media only all and (max-width: 900px) {

    #breadcrumbsWrapp ul li {
        display: none;
    }

    #breadcrumbsWrapp ul.opened li {
        display: block;
    }

    #breadcrumbsWrapp ul li:last-child,  #breadcrumbsWrapp ul li:first-child {
        display: block;
    }

    #breadcrumbs-one li.dotdotdot {
        display: block;
        cursor: pointer;
    }

    #breadcrumbsWrapp ul.opened li.dotdotdot {
        display: none;
    }

}
















