
#aWrapp {
    max-width: 1350px;
    margin: 0 auto;
}

article h1, article h2 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 10px auto 20px auto;
}

article h1:first-child {
    margin: 10px auto 40px auto;
}

#cB1 div span, #cB2 div span{
    display:inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    margin: 0 0 30px 0;
    font-size: 1.7em;
    width: 200px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
    padding: 6px 20px;
    transition-duration: 0.2s;
}

#cB1 div span:hover, #cB2 div span:hover {
    border: 1px solid black;
    border-radius: 10px;
    background: black;
    color: white;
    cursor: pointer;
}

#cB1 div:nth-child(1) {
    font-weight: bold;
}

#cButtons {
    display: flex;
    margin: 0 0 0 10%;
}

#cB1, #cB2 {
    display: flex;
    flex-direction: column;
}

#cB2 {
    margin: 0 0 0 30px;
}

.showC{
    display: flex;
}

.hiddenC {
    display: none;
}

#hiddenCities div ul li {
    margin: 10px;
    font-size: 1.7em;
}

div {
    outline: solid 0px gray;
}

#showButton {
    max-width: 200px;
    text-align: center;
    margin: 0 auto 20px 37%;
    font-style: oblique;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    font-size: 1.1em;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
    font-weight: bolder;
    padding: 6px 10px;
    transition-duration: 0.2s;
}

#showButton:hover {
    border: 1px solid black;
    border-radius: 10px;
    background: black;
    color: white;
    cursor: pointer;
}

#contentWrapp {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}

#cities, #firstText {
    max-width: 40%;
}

#firstText {
    margin: 0 0 0 0;
}

#secondText {
    margin: 0 2%;
} 


#allText {
    display: none;
    font-weight: bold;
    font-size: 110%;
    color: #FF2E23;
}

#allText:hover {
    cursor: pointer;
}

.text1hide {
    max-height: auto;
}

.text1show {
    max-height: auto;
}




/* ================= МЕДИАЗАПРОСЫ ================= */
  
@media only all and (max-width: 1200px) {

    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.3em;
        width: 150px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }

    #showButton {
        
        text-align: center;
        margin: 0 auto 20px 33%;
        font-style: oblique;
        border: 1px solid black;
        border-radius: 10px;
        background: white;
        font-size: 1.1em;
        font-family: 'Comfortaa', cursive;
        letter-spacing: 1px;
        font-weight: bolder;
        padding: 6px 10px;
        transition-duration: 0.2s;
    }

    #hiddenCities div ul li {
        margin: 12px 8px;
        font-size: 1.3em;
    }

}



@media only all and (max-width: 960px) {




    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.3em;
        width: 120px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }
    
    #showButton {
        max-width: 200px;
        margin: 0 auto 20px 28%;
        font-size: 1.1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    /*
    #hiddenCities {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    }
    */

    #hiddenCities {
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin: 0 auto;
    }

    #hiddenCities div ul li {
        margin: 10px;
        font-size: 1.1em;
    }

}

@media only all and (max-width: 860px) {
    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.2em;
        width: 100px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }
    
    #showButton {
        max-width: 180px;
        margin: 10px auto 20px 28%;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #cB2 {
        margin: 0 0 0 15px;
    }

    #hiddenCities div ul li {
        margin: 10px;
        font-size: 0.9em;
    }

    #firstText {
        margin: 0 0 0 5%;
    }
    

}
    

@media only all and (max-width: 680px) {

    #secondText {
        margin: 0 auto;
        order: 2;
    } 

    #cities {
        margin: 0 0 0 7%;
        order: 2;
    }

    #firstText {
        margin: 0 auto 30px auto;
        order: 1;
    }
    
    #contentWrapp > div {
        max-width: 90%;
        flex-grow: 1;
    }


    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.5em;
        width: 200px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }
    
    #showButton {
        max-width: 180px;
        margin: 10px auto 20px 30%;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #cB2 {
        margin: 0 0 0 10%;
    }
  
    #cButtons {
        margin: 0 0 0 0%;
    }
    

    #allText {
        display: block;
        margin: 5px 0 0 3px;
  }

    .text1Hide {
        max-height: 3em;
        overflow: hidden;
    }
    
    .text1Show {
        max-height: auto;
    }

    #hiddenCities div ul li {
        margin: 10px;
        font-size: 1.5em;
    }


}

@media only all and (max-width: 630px) {

    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.5em;
        width: 180px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }
    
    #showButton {
        max-width: 180px;
        margin: 10px auto 20px 25%;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #cB2 {
        margin: 0 0 0 10%;
    }

    #hiddenCities div ul li {
        margin: 10px;
        font-size: 1.35em;
    }


}

@media only all and (max-width: 580px) {

    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.5em;
        width: 150px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }
    
    #showButton {
        max-width: 180px;
        margin: 10px auto 20px 25%;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #cB2 {
        margin: 0 0 0 10%;
    }

    #cities {
        margin: 0 0 0 11%;
    }

    #hiddenCities div ul li {
        margin: 10px;
        font-size: 1.2em;
    }


}

@media only all and (max-width: 530px) {

    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.35em;
        width: 120px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }
    
    #showButton {
        max-width: 180px;
        margin: 10px auto 20px 25%;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #cB2 {
        margin: 0 0 0 10%;
    }

    #cities {
        margin: 0 0 0 11%;
    }

    #hiddenCities div ul li {
        margin: 10px;
        font-size: 1em;
    }

}


@media only all and (max-width: 480px) {


    #cB1 div span, #cB2 div span{
        margin: 0 0 30px 0;
        font-size: 1.2em;
        width: 100px;
        letter-spacing: 1px;
        padding: 6px 20px;
    }
    
    #showButton {
        max-width: 180px;
        margin: 0 auto 20px 15%;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #cB2 {
        margin: 0 0 0 10%;
    }

    #cities {
        margin: 0 0 0 12%;
    }

    #hiddenCities {
        justify-content: flex-start;
        flex-direction: row;
        margin: 0 auto 0 -30px;
    }

}

@media only all and (max-width: 430px) {
    #hiddenCities {
        margin: 0 auto 0 -50px;
    }
}

@media only all and (max-width: 380px) {

    #cB1 div span, #cB2 div span{
        margin: 0 0 20px 0;
        font-size: 1.2em;
        width: 100px;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #showButton {
        max-width: 180px;
        margin: 0 auto 20px 8%;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 6px 10px;
    }
    
    #cB2 {
        margin: 0 0 0 5%;
    }

    #cities {
        margin: 0 0 0 13%;
    }

    div {
        border: solid 1px gray;
    }

    #hiddenCities {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 0 -30px;
    }

    #hiddenCities div ul li {
        margin: 10px;
        font-size: 1.3em;
    }


}

@media only all and (max-width: 340px) {
    #cities {
        margin: 0 0 0 3%;
    }
}


















