/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
::-webkit-input-placeholder {color:#fff; opacity:1;}/* webkit */
  ::-moz-placeholder          {color:#fff; opacity:1;}/* Firefox 19+ */
  :-moz-placeholder           {color:#fff; opacity:1;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#fff; opacity:1;}/* IE */
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #585858;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Roboto', sans-serif;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f13a3a;
	text-decoration: underline;
}
a:hover {
	color: #f13a3a;
	text-decoration:none;
}
a:focus, a:active {
	color: #f13a3a;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	font-family: 'Raleway', sans-serif;
	color: #111;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
header{
	background: #fff;
	padding: 30px 0;
}
.effect6
{
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
	box-shadow:0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:1000px / 10px;
}
.effect6:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}
.main_central_block{
	max-width: 1140px;
	margin: 0 auto;
}
.logo{
	float: left;
	font-weight: 700;
	font-size: 1.875em;
}
.logo a{
	text-decoration: none;
	color: #111;
}
.logo a span{
	color: #f13a3a;
}
.menu_header{
	float: right;
	margin-top: 10px;
}
.menu_header li{
	float: left;
}
.menu_header a{
	padding: 7px 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #111;
	border: 2px solid #fff;
}
.menu_header a:hover{
	color: #f13a3a;
	border: 2px solid #f13a3a;
}
.unslider ul {
	z-index: -2;
}
.slider ul li{
	position: relative;
}
.slider ul li img{
	width: 100%;
}
.slider ul li h2{
	
	font-size: 3.125em;
	font-weight: bold;
	color: #fff;
	padding-left: 50px;
	
}
.wrap_text{
	position: absolute;
  margin: auto;
  top: 40%; left: 0; bottom: 0; right: 0;
}
.unslider-nav{
	position: relative;
	top: -60px;
}

.block_4_main{
	margin-top: 80px;
}
.block_4_main article{
	float: left;
	width: 22.375%;
	margin-left: 3.5%;
}
.block_4_main article:first-child{
	margin-left: 0;
}
.img_block1 {
	position: relative;
	background: #ed2525;
	color: #fff;
	border-radius: 35px;
	text-align: center;
	height: 70px;
	width: 70px;
	font-size: 1.875em;
	margin: 0 auto 45px auto;
}
.fa.fa-lightbulb-o {
	position: absolute;
	top: 20px;
	left: 27px;
}
.fa.fa-steam {
	position: absolute;
	top: 20px;
	left: 20px;
}
.fa.fa-skyatlas {
	position: absolute;
	top: 20px;
	left: 18px;
}
.fa.fa-connectdevelop {
	position: absolute;
	top: 20px;
	left: 18px;
}
.block_4_main article h2{
	font-size: 1.875em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}
.block_4_main article p{
	margin: 20px 0 100px 0;
	text-align: center;
}

.review{
	background: #e7edeb;
}
.review h2{
	padding: 84px 0 34px 0 ;
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
}
.review p{
font-size: 1.125em;
text-align: center;
margin-bottom: 48px;
}
.review p span{
font-size: 1.25em;
}
.btn{
	text-align: center;
	margin-bottom: 95px;
}
.btn a{
	display: inline-block;
	background: #ed2525;
	padding: 20px 33px;
	text-decoration: none;
	color: #fff;
	font-size: 1.125em;
	font-weight: 500;
}
.btn a:hover{
	text-decoration: underline;
}
.work{
	position: relative;
}
.feautare{
	position: absolute;
	transform: rotate(90deg);
	right: -224px;
top: 196px;
}
.feautare h1{
	font-size: 4.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #e7e7e7;
}
.work_main article h2{
	padding: 100px 0 34px 0 ;
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
}
.work_main article p{
	font-size: 1em;
text-align: center;
margin-bottom: 60px;
}
.work_menu{
	display: inline-block;
}
.work_main nav{
text-align: center;
margin-bottom: 70px;
}
.work_menu li{
	float: left;
}
.work_menu a{
	padding: 20px 30px;
	color: #111;
	font-size: 1.125em;
	display: block;
	text-decoration: none;
	font-weight: 500;
}
.work_menu a:hover{
	padding: 20px 30px;
	background: #ed2525;
	color: #fff;
}
.galery{
	margin-bottom: 95px;
}
.row1 article{
	float: left;
	width: 25%;
	font-size: 0;
}
.about.main_central_block.clearfix{
	position: relative;
}
.about_us_poz{
	position: absolute;
transform: rotate(-90deg);
left: -246px;
top: 269px;
}
.about_us_poz h1{
	font-size: 4.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #e7e7e7;
}
.about_us{
	float: left;
	width: 50%;
}
.about_us h2{
	padding: 70px 0 55px 0 ;
	font-size: 2.5em;
	font-weight: 700;
}
.about_us p{
	margin-bottom: 30px;
	text-align: justify;
}
.about_us a:hover{
	text-decoration: underline;
}
.about_us a{
	font-size: 1.125em;
	text-decoration: none;
	text-transform: uppercase;
}
.about_us_img{
	float: right;
	padding: 70px 0 0 0;
	font-size: 0;
}
.gradient {
    height: 100px;
    background-image: -moz-linear-gradient(#e1e1e1, #fff 18.4%);
    background-image: -o-linear-gradient(#e1e1e1, #fff 18.4%);
    background-image: -webkit-linear-gradient(#e1e1e1, #fff 18.4%);
    background-image: -ms-linear-gradient(#e1e1e1, #fff 18.4%);
}
.slider1 ul li{
	position: relative;
	font-size: 0;

}
.slider1_wrap{
	position: absolute;
	max-width: 700px;
  margin: auto;
  top: 15%; left: 0; bottom: 0; right: 0;
}
.slider1 ul li img{
	width: 100%;
}
.slider1 ul li h2{
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.slider1 ul li h3{
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-bottom: 42px;
	font-family: 'Roboto', sans-serif;
}
.slider1 ul li p{
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.unslider-nav{
	position: relative;
	top: -60px;
}
.round_man {
   max-width: 152px;
   margin: 0 auto 15px auto;
}
.blog h2{
	text-align: center;
	padding: 70px 0 25px 0 ;
	font-size: 2.5em;
	font-weight: 700;
}
.blog p{
	text-align: center;
	padding: 0 0 85px 0 ;
}
.blog_slider_central_block{
	max-width: 1074px;
	margin: 0 auto;
}
.blog_slider h3{
	text-align: center;
	padding: 30px 0;
	font-size: 1.625em;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: #585858;
}
.blog_slider p{
	text-align: center;
	padding-bottom: 85px ;
	margin: 0 2%;
}
.ftr_main{
	background: #111;
}
.contact h2{
	color: #fff;
	text-align: center;
	padding: 70px 0 30px 0 ;
	font-size: 2.5em;
	font-weight: 700;
}
.contact p{
	color: #fff;
	text-align: center;
	padding: 0 13.5%;
	margin-bottom: 70px;
}
.form_main{
	margin-bottom: 75px;
}
.form{
	float: left;
	width: 56%;
}
.form_form{
	padding-left: 90px;
	
	
}
.form_form input{
	width: 100%;
	margin-bottom: 25px;
	background: #111;
	color: #fff;
	padding: 20px 30px;
	border: 2px solid #848484;
	box-sizing: border-box;
}
.form_form textarea{
	margin-bottom: 25px;
		background: #111;
		width: 100%;
		box-sizing: border-box;
		border: 2px solid #848484;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		padding: 20px 0 130px 30px;


}
.contact_us{
	float: right;
	width: 32%;
	padding-top: 110px;
}
.contact_us p{
	font-size:1.125em ;
	color: #fff;
	margin-bottom: 50px;
	line-height: 2;
}
.contact_us h3{
	font-family: 'Roboto', sans-serif;
	font-size:1.5em ;
	color: #fff;
	font-weight: 500;
}
.ftr_bot{
	padding-bottom: 60px;
}
.ftr_left{
	font-size: 1.125em;
	float: left;
}
.ftr_right{
	float: right;
}
.social li{
	float: left;
	font-size: 1.25em;
	margin-left: 50px;
}
.social li:first-child{
	margin-left: 0;
}
.social li a{
	color: #fff;
}
.social li a:hover{
	color: #f13a3a;
}
@media screen and (max-width:1250px){
	.slider1_wrap {
    top: 3%;
}
@media screen and (max-width:1158px){
	.header_top.clearfix {
    margin: 0 2%;
  }
  .block_4_main {
    margin: 80px 2%;
  }
  .galery {
    margin: 0 2% 95px;
  }
  .about.main_central_block.clearfix {
     margin: 0 2%;
  }
  .ftr_bot {
    margin: 0 2%;
  }
  .slider1 ul li h3 {
    margin-bottom: 20px;
	}
	
}
@media screen and (max-width:1003px){
	.round_man {
    max-width: 120px;
	}
	.work_menu a {
    padding: 20px 25px;
	}
	.work_menu a:hover{
	padding: 20px 25px;
	}
}
@media screen and (max-width:960px){
	.slider ul li h2 {
    font-size: 2.125em;
  }
  .block_4_main article {
    width: 45%;
    margin: 0 2.5%;
	}
	.block_4_main article:first-child {
    margin-left: 2.5%;
	}
	.round_man {
    max-width: 100px;
	}
	.slider1 ul li h2{
		font-size: 18px;
		margin-bottom: 8px;
	}
	.slider1 ul li h3{
		font-size: 14px;
		margin-bottom: 10px;
	}
	.slider1 ul li p{
		font-size: 12px;
	}
	.about_us {
    float: none;
    width: 100%;
    text-align: center;
	}
	.about_us_img{
		float: none;
		padding: 70px 0 0 0;
		font-size: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	}
	.form_main {
    margin: 0 2% 75px;
	}
}
@media screen and (max-width:930px){
		.work_menu a{
			font-size: 1em;
		}
}
@media screen and (max-width:930px){
		.work_menu a {
    padding: 20px 20px;
	}
	.work_menu a:hover{
	padding: 20px 20px;
	}
}
@media screen and (max-width:796px){
	.work_menu a{
			font-size: 0.875em;
		}
}
@media screen and (max-width:768px){
	.form {
    float: none;
    width: 100%;
	}
	.form_form {
    padding: 0 5%;
	}
	.contact_us {
    float: none;
    width: 100%;
    padding-top: 80px;
    text-align: center;
	}
	.ftr_right {
    float: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.ftr_left {
    font-size: 1.125em;
    float: none;
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
	}
	.slick-slide img {
    margin: 0 auto;
	}
	.about_us h2 {
    padding: 0 0 25px 0;
    font-size: 2.5em;
    font-weight: 700;
	}
	.galery {
    margin: 0 2% 40px;
  }
  .block_4_main {
    margin: 0 2%;
  }
  .review h2 {
    padding: 30px 0 30px 0;
  }
  .review p {
    margin-bottom: 30px;
	}
	.btn {
    margin-bottom: 45px;
	}
	.work_main article h2 {
    padding: 30px 0 30px 0;
	}
	.work_main article p {
    margin-bottom: 30px;
	}
	.work_main nav {
    text-align: center;
    margin-bottom: 25px;
	}
	.blog h2 {
    padding: 0px 0 25px 0;
  }
  .blog p {
    padding: 0 0 45px 0;
	}
	.blog_slider p {
    padding-bottom: 45px;
	}
	.form_main {
    margin: 0 2%;
	}
	.contact_us {
    padding-top: 40px;
	}
	.gradient {
    height: 50px;
  }
  .unslider-nav {
    position: relative;
    top: -30px;
	}
	.round_man {
    max-width: 70px;
	}
	.slider1 ul li h2 {
    font-size: 16px;
    margin-bottom: 4px;
	}
	.slider1 ul li h3 {
    font-size: 13px;
    margin-bottom: 7px;
	}
	.slider1 ul li p {
    font-size: 10px;
	}
	.review {
    padding: 0 2%;
	}
}
@media screen and (max-width:720px){
	.logo {
	  float: none;
	}
	.menu_header {
    float: none;
	}
	.slider ul li h2 {
    font-size: 1.875em;
	}
	.block_4_main {
    padding: 0 2%;
    margin: 80px 0 0 0;
	}
	.block_4_main article {
    width: 100%;
    margin: 0;
	}
	.block_4_main article:first-child {
    margin: 0;
	}
	.work_main article p {
    padding: 0 2% 0;
	}

}
@media screen and (max-width:520px){
	.slider1.unslider-horizontal {
		display: none;
	}
	.slider ul li h2 {
    font-size: 1em;
	}
	.menu_header a {
		font-size: 0.75em;
		    padding: 7px 7px;
	}
}

